
<nav class="navbar navbar-expand-lg" style="background: -webkit-linear-gradient(right, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); list-style: none; border-bottom: 1px solid red; text-decoration: none;">
 <a class="navbar-brand" href="<%= root_path %>"><i class="fas fa-home"></i></a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
 </button>
 <div class="collapse navbar-collapse" id="navbarNav">
   <ul class="navbar-nav ml-auto">
     <li class="nav-item">

         <%= link_to "Carta", root_path, class: 'nav-link ' %>
       </li>
     <% if user_signed_in? %>
      
       <li class="nav-item">
             <a href="<%= orders_path %>" class="nav-link"><i class="fas fa-shopping-cart"></i></a> 
       </li>
       <li class="nav-item">
         <%= link_to 'Salir', destroy_user_session_path, method: :delete, class: 'nav-link' %>
       </li>
     <% else %>
       <li class="nav-item">
         <%= link_to 'Ingresar', new_user_session_path, class: 'btn btn-danger' %>
       </li>
     <% end %>
   </ul>
 </div>
</nav>
