
<% if orders.present? %>

<div class="card" style="width: 18rem; background-color: #202020;">
  <div class="card-body">
    <h5 class="card-title">Mi pedido</h5>
  </div>
  <ul class="list-group list-group-flush">
    <% orders.each do |order| %>
    <li id="<%= order.id %>" class="list-group-item" style="background-color: #202020;">
      <div class="row ">
        <div class="col-sm">
        <%= order.product.name %>
    </div>

    <div class="col-sm">
      
          <%= order.quantity %>
    </div> 
    <div  id="cantidad<%= order.id %>" class="col-sm">
      
         $<%= order.quantity * order.product.price %>
    </div>
    
    <div class="col-sm">
       <%= link_to order_path(order), class: 'btn btn-danger',data: { remote: true, method: :delete} do %>
        <i class="fas fa-trash-alt"></i>
        <% end %>
    </div>
      </div>
    </li>
    <% end %>
  </ul>
  <div class="card-body">
    <div id ="total">
    </div>
  <%= link_to "vaciar carro", empty_cart_orders_path, class: 'btn btn-danger', method: :delete %>
  <%= link_to 'Confirmar', pre_pay_billings_path, class: 'btn btn-success' %>
  </div>
</div>
<% else %>
<div class="card" style="width: 18rem; background-color: #202020;">
  <div class="card-body">
    <h5 class="card-title">Mi pedido</h5>
  </div>
  <ul class="list-group list-group-flush" style="background-color: #202020;>
    <li class="list-group-item" ">No tienes ninguna Orden</li>
  </ul>
  <div class="card-body">
 
     <%= link_to "vaciar carro", empty_cart_orders_path, class: 'btn btn-danger', method: :delete %>
     <%= link_to 'Confirmar', pre_pay_billings_path, class: 'btn btn-success' %>
   
  </div>
<% end %>