<div class="row">
  <div class="col-md-2">
    <%= link_to "continuar comprando", root_path, class: 'btn btn-warning' %>
  </div>
  <div class="col-md-2 offset-md-8">
    <%= link_to "vaciar carro", empty_cart_orders_path, class: 'btn btn-danger', method: :delete %>
  </div>
</div>
<% if orders.present? %>
  <table class="table table-hover">
    <tr>
      <th>Producto
      </th>
      <th>
        Precio
      </th>
      <th>
        Cantidad
      </th>
      <th>
        Total
      </th>
      <th>
       
      </th>
    </tr>
    <% orders.each do |order| %>
    <tr id="<%= order.id %>">
      <td>
        <%= order.product.name %>
      </td>
      <td>
        <%= order.price %>
      </td>
      <td>
        <%= order.quantity %>
      </td>
      <td>
        $<%= order.quantity * order.product.price %>
      </td>
      <td>
        <%= link_to order_path(order), class: 'btn btn-danger',data: { remote: true, method: :delete} do %>
        <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
    <% end %>
    <tr>
      <th>
        Total:
      </th>
      <th>  </th>
      <th></th>
      <th>
        $<%= @total %>
      </th>
    </tr>
  </table>
  <div class="row">
    <div class="col-md-2 offset-md-10">
      <%= link_to 'Confirmar compra', pre_pay_billings_path, class: 'btn btn-success' %>
    </div>
  </div>
<% else %>
  <h6>No tienes ninguna Orden</h6>
<% end %>
